body {
  margin: 0;
}

.main-content {
  color: #707070;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 0;
}

p {
  line-height: 1.5;
  padding-bottom: 32px;
}

.logo {
  display: inline-flex;
  max-height: 48px;
  max-width: 48px;
  margin-left: 0px;
  padding: 48px;
  color: #707070;
}

.primary-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  overflow: hidden;
  z-index: 3;
  width: 100%;
}

.primary-nav a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #707070;
  font-family: hero-new, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.primary-nav ul {
  list-style: none;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
  overflow: hidden;
}

.iframe-container iframe {
  max-height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  max-width: 100%;
}

/* Mobile Rules */
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  .body-text {
    padding: 48px;
  }
  .toggle {
    padding: 48px;
    margin: 0;
    right: 0;
    border: 0;
    background: none;
    color: #707070;
    position: absolute;
    margin-top: 20px;
  }

  .primary-nav ul {
    opacity: 0;
    transition: all 300ms;
    top: 64px;
    width: 100%;
    position: relative;
    transform: translateX(-100vw);
  }

  .primary-nav ul.active {
    opacity: 1;
    transform: translateX(0);
  }

  .primary-nav ul li {
    padding: 10px;
  }

  .primary-nav ul a {
    color: white;
  }
}

/* Desktop Rules */
@media (min-width: 768px) {
  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 48px;
  }

  .body-text {
    padding: 180px;
    font-size: 30px;
    padding-top: 72px;
  }

  .toggle {
    display: none;
  }

  .primary-nav ul {
    display: flex;
    margin: 10px;
  }

  .primary-nav ul li {
    padding-left: 10px;
  }
}
