body {
  margin: 0;
}

.main-content {
  color: #707070;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 0;
}

p {
  line-height: 1.5;
  padding-bottom: 32px;
}

.primary-nav {
  position: relative;
  z-index: 100;
}

.primary-nav ul a {
  color: #707070;
}

.logo > i {
  color: #707070;
}

.toggle > i {
  color: #707070;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobile Rules */
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  .body-text {
    padding: 48px;
  }
}

/* Desktop Rules */
@media (min-width: 768px) {
  h2 {
    font-size: 80px;
  }

  .body-text {
    padding: 180px;
    font-size: 32px;
    padding-top: 72px;
  }
}
