body {
  text-align: left;
  justify-content: center;
  display: flex;
  color: #707070;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 6rem;
}

p {
  line-height: 1.5;
}

.primary-nav ul a {
  color: #707070;
}

/* Mobile Rules */
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  .body-text {
    padding: 24px;
  }
}

/* Desktop Rules */
@media (min-width: 768px) {
  h2 {
    font-size: 120px;
  }

  .body-text {
    padding: 48px;
  }
}
