@import url("./recipes.css");
@import url("./information.css");

body {
  margin: 0;
}

.logo {
  display: inline-flex;
  max-height: 48px;
  max-width: 48px;
  margin-left: 0px;
}

.primary-nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  z-index: 3;
  width: 100%;
}

.primary-nav a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: hero-new, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.primary-nav ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
}

.slideshow,
.slideshow > div.slide {
  height: 100vh;
  width: 100vw;
}
.slideshow > div.slide {
  position: absolute;
  transition: opacity 0.6s;
  opacity: 0;
}

.slideshow > div.slide.active {
  opacity: 1;
  background-color: #4674b8;
}

.slideshow img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.slideshow button {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  max-height: 30px;
  font-weight: bold;
  font-size: 18px;
}

.slideshow button.next {
  right: 0;
}

.fullscreen-center-contents {
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

div > h1 {
  color: white;
  text-align: center;
  font-family: hero-new, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 70px;
  font-size: 4rem;
  line-height: 1.2;
}

/* Color Overlays */

.gordon-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.appetizer-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.main-course-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.dessert-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Animated Button */

:root {
  --animated-link-font-size: 16px;
  --animated-link-width: 12em;
  --animated-link-height: 4em;
  --animated-link-opacity: 0.5;
  --animated-link-font-color: white;
  --animated-link-background-color: rgba(0, 0, 0, 0.2);
  --animated-link-accent-color: #61a0ff;
}

.animated-link {
  font-size: var(--animated-link-font-size);
  color: var(--animated-link-font-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-family: hero-new, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.animated-link .container {
  width: var(--animated-link-width);
  height: var(--animated-link-height);
  border-radius: var(--animated-link-height);
  background: var(--animated-link-background-color);
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.label,
.arrow {
  position: relative;
  z-index: 2;
}

.arrow {
  font-size: 1.5em;
  margin-left: 0.5em;
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translate3d(0, 0, 0);
}

.animated-link:hover .arrow {
  transform: translate3d(calc(var(--animated-link-width) / 3 - 3em), 0, 0);
}

.animated-link .accent {
  position: absolute;
  background: var(--animated-link-accent-color);
  height: 100%;
  width: 100%;
  border-radius: var(--animated-link-height);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translate3d(0, 0, 0);
}

.animated-link:hover .accent {
  transform: translate3d(
    calc(var(--animated-link-width) - var(--animated-link-height)),
    0,
    0
  );
}

/* Mobile Rules */
@media (max-width: 767px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .primary-nav ul {
    opacity: 0;
    transition: all 300ms;
    top: 64px;
    width: 100%;
    position: absolute;
    background: black;
    transform: translateX(-100vw);
  }

  .primary-nav ul.active {
    opacity: 1;
    transform: translateX(0);
  }

  .primary-nav ul li {
    padding: 10px;
  }

  .primary-nav ul a {
    color: white;
  }
}

/* Desktop Rules*/
@media (min-width: 768px) {
  h1 {
    font-size: 120px;
    line-height: 120px;
  }

  .toggle {
    display: none;
  }

  .primary-nav ul {
    display: flex;
    margin: 10px;
  }

  .primary-nav ul li {
    padding-left: 10px;
  }

  h1 {
    width: 700px;
    margin: 0px 50px;
  }
}

/* Stories progress indicator */
.progress-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
  gap: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  transition: opacity 600ms;
}

.progress-container > div {
  background: white;
  height: 10px;
  border-radius: 2px;
  opacity: 0.5;
}

.progress-container > div.active {
  opacity: 1;
}