* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

p {
  margin-bottom: 2em;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.logo {
  display: inline-flex;
  max-height: 48px;
  max-width: 48px;
  margin-left: 0px;
  padding: 48px;
  color: #707070;
}

.primary-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.primary-nav a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #707070;
  font-family: hero-new, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.primary-nav ul {
  list-style: none;
}

.heading-text > div {
  max-width: 400px;
  color: #707070;
}

.body-paragraph {
  text-align: left;
  color: #707070;
}

.footer {
  color: #707070;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.suggestions-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  gap: 2rem;
}

figure > img {
  width: 100%;
  padding-bottom: 24px;
}

/* Mobile Rules*/
@media (max-width: 767px) {
  .toggle {
    padding: 48px;
    margin: 0;
    right: 0;
    border: 0;
    background: none;
    color: #707070;
    position: absolute;
    margin-top: 20px;
  }

  .primary-nav ul {
    opacity: 0;
    transition: all 300ms;
    top: 64px;
    width: 100%;
    position: relative;
    transform: translateX(-100vw);
  }

  .primary-nav ul.active {
    opacity: 1;
    transform: translateX(0);
  }

  .primary-nav ul li {
    padding: 10px;
  }

  .primary-nav ul a {
    color: white;
  }

  .heading {
    padding: 48px;
    padding-bottom: 0px;
  }

  .body-paragraph {
    margin: 0px auto;
    padding-top: 24px;
  }

  .has-sidebar {
    color: #707070;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 0px;
    padding-top: 48px;
  }

  .button-mobile {
    margin-top: 48px;
    justify-content: center;
    display: flex;
  }

  .button-desktop {
    display: none;
  }

  .suggestions-cards {
    padding: 24px;
  }
}

/* Desktop Rules*/

@media (min-width: 768px) {
  /* .body-paragraph {
    margin: 20px;
  } */

  .has-sidebar {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 4rem;
    max-width: 900px;
    margin: 0 auto;
    color: #707070;
  }

  .heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-bottom: 48px;
  }

  .heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding: 20px 20px 40px 20px;
  }

  .heading-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-desktop {
    padding-top: 24px;
  }

  .button-mobile {
    display: none;
  }

  .toggle {
    display: none;
  }

  .primary-nav ul {
    display: flex;
    margin: 10px;
  }

  .primary-nav ul li {
    padding-left: 10px;
  }

  figure {
    max-width: 600px;
    max-height: 450px;
  }

  figure > img {
    max-height: 400px;
    max-width: 600px;
  }

  .footer {
    padding: 48px;
  }
}
